// Microsoft Visual C++ generated resource script.
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_FORMVIEW DIALOGEX 0, 0, 130, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Majest Lyrics Options"
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    PUSHBUTTON      "Save",IDC_SAVE_BUTTON,6,42,50,14
    PUSHBUTTON      "Exit",IDC_EXIT_BUTTON,60,42,50,14
    CONTROL         "Enable Majest Lyrics",IDC_DISABLE_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,6,90,10
    CONTROL         "Enable Threading",IDC_THREADING_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,18,71,10
    CONTROL         "Enable Scrolling (unstable)",IDC_SCROLLING_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,30,100,10
END

IDD_DIALOGVIEW DIALOGEX 0, 0, 195, 344
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION
CAPTION "Majest Lyrics"
MENU IDR_MENU1
FONT 8, "Microsoft Sans Serif", 400, 0, 0x0
BEGIN
    PUSHBUTTON      "Refresh",IDC_REFRESH_BUTTON,144,330,38,14
    PUSHBUTTON      "-",IDC_FONT_MINUS,2,332,10,10
    PUSHBUTTON      "+",IDC_FONT_PLUS,14,332,10,10
    CTEXT           "No Lyrics",IDC_LYRIC_STRING,0,0,192,330,0,WS_EX_TRANSPARENT
END

IDR_ACCELERATOR2 ACCELERATORS
BEGIN
    VK_DELETE,      ID_SUBMENU_RERENDER,    VIRTKEY, NOINVERT
    VK_F3,          ID_SUBMENU_VIEWFILEINFO, VIRTKEY, ALT, NOINVERT
END

IDR_MENU1 MENU
BEGIN
    MENUITEM "Refresh",                     40006
    MENUITEM "Restart",                     40007, MENUBREAK
END

STRINGTABLE
BEGIN
    IDS_PLUGIN_NAME         "Majest Lyrics"
    IDS_LANGUAGE_EXAMPLE    "Majest Lyrics v1.0"
END

#endif
